<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>
<p>Les 3 petits points seront remplaces par une image</p>


<!-- DEBUT CARD HEARDER -->
<div class="row">
  <% @event.each do | event| %>
  <div class="col-md-4">

    <div class="card-deck mb-3 text-center">

      <div class="card card-accent-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">
          <%= event.title %>
        </div>
        <div class="card-body">
          <p>
            Son admin : <%= event.admin.first_name %>
            **<br/>
            Le descriptif : <%= event.description %>
            **<br/>
          </p>
          <button type="button" class="btn btn-pill btn-secondary">
            <a <%= link_to event.admin.first_name , user_path(event.admin.id)%></a>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

</div>
<!-- FIN CARD HEADER -->
