<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @admin.first_name %> il y a un nouvel inscrit au prochain event !</h1>
      <p>
        <h1>C'est <%= @participant.first_name %> et voici son email <%= @participant.email %></h1>
      </p>
  </body>
</html>
